@media (min-width: 700px) {
  #menu-toggle {
    display: none;
  }

  nav ul {
    display: flex !important;
    flex-direction: row;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}